*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.box{
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 25px;
}

.container{
    display: grid;
    width: 700px;
    grid-template-columns: repeat(6,100px);
    grid-gap: 10px;
    margin: 20px;
}

.box:nth-child(even){
    background-color: #ccc;
    color: #000;
}

.box1{
    order: 2;
}

.box2{
    order: 3;
}